.dropdown-toggle, .dropdown-item { 
    cursor: pointer;
}

.navbar-blue {
    background-color: #0c0c96b3;
}

.login-button-color {
    background-color: aquamarine;
    color:black
}

.dropdown-item-color {
    background-color: aquamarine;
    color:black;
}